name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test:
    name: Node
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [ 18, 20, 22, 24 ]
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm test

  dependencies:
    name: Dependencies
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Test
        run: |
          if [ -f "package-lock.json" ]; then
            if grep -q '"version": "' package-lock.json && ! grep -q '"from": "git"' package-lock.json; then
              echo "Dependencies are properly locked"
            else
              echo "Error: Some dependencies are not properly locked"
              exit 1
            fi
          else
            echo "Error: package-lock.json file is missing in app directory"
            exit 1
          fi
